NODE_ENV=

# Debug
DEBUG=

# App info
APP_NAME=
APP_URL=

# API info
API_URL=

# Basic auth secret
BASIC_SECRET=

# JWT access token signing key and expiry
JWT_ACCESS_TOKEN_SIGNING_SECRET=
JWT_ACCESS_TOKEN_EXPIRY=

# JWT refresh token signing key and expiry
JWT_REFRESH_TOKEN_SIGNING_SECRET=
JWT_REFRESH_TOKEN_EXPIRY=

# Game logs source directory
LOGS_SOURCE_DIR=