@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;700&display=swap');
@import url('/fonts/icarus-terminal/icarus-terminal.css');
@import url('./variables.css');
@import url("./fx.css");
@import url('./system.css');
@import url('./table.css');
@import url('./loader.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 41, 0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 240%, var(--color-primary-dark) 25%, #000000);
}

nav.main-nav__nav {
  top: 0;
  position: sticky;
  width: full;
  z-index: 40;
  padding-bottom: 0.75rem;
}

nav.main-nav__nav .main-nav__menu {
  top: 0;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  margin-left: auto;
  margin-right: auto;
  background: black;
  border-bottom: 2px solid rgb(85, 41, 0);
  box-shadow: 0 0 8px rgb(85, 41, 0);
  text-shadow: var(--text-shadow);
  z-index: 40;
}

.overlay {
  opacity: 0.4;
  height: 100%;
  z-index: -1;
  background-image: url(/images/textures/galaxy.jpg);
  background-position-y: -25rem;
  background-position-x: -36rem;
}

.overlay:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.045;
  content: ' ';
  background-size: 5rem 5rem;
  background-image: url(/images/grid.svg);
}

@layer utilities {
  .text-glow {
    text-shadow: var(--text-shadow);
  }

  .text-glow__white {
    color: white;
    text-shadow: 0px 0 5px var(--text-shadow);
  }
  
  .text-glow__orange {
    /* font-weight: bold; */
    color: rgb(251 146 60 / 1);
    /* text-shadow: 0px 0 20px rgb(251 146 60 / 1); */
  }

  .text-glow__blue {
    /* font-weight: bold; */
    color: rgb(101 234 255 / 1);
    text-shadow: 0px 0 20px rgb(101 234 255 / 1);
  }
}