@import url('./variables.css');

.system-map {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.system-map__system-object {
  outline: 0;
}
.system-map__system-object .system-map__planet {
  fill: url(#svg-gradient__unknown);
  overflow: visible;
}
.system-map__system-object .system-map__planet {
  z-index: 3;
}

/* -- begin red shadow ring focus -- */
.system-map__system-object[data-system-object-type="Planet"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--color-primary-dark)) var(--filter-system-map-planet-not-landable) !important;
}
.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--color-primary-dark)) var(--filter-system-map-planet-not-landable) !important;
}
.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--color-primary-dark)) var(--filter-system-map-planet-landable) !important;
}
.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"][data-system-object-landable="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--color-primary-dark)) var(--filter-system-map-planet-landable) !important;
}
/* -- end red shadow ring focus -- */

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Supermassive Black Hole" i] .system-map__planet,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Black Hole" i] .system-map__planet {
  filter: none !important;
}

.system-map__system-object[data-system-object-type="Planet"] .system-map__planet {
  fill: url(#system-map-svg-gradient__planet);
  filter: url(#svg-filter__planet-shadow) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="gas giant" i] .system-map__planet-surface {
  fill: url(#svg-pattern__planet-surface--gas-giant);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"] .system-map__planet {
  fill: url(#system-map-svg-gradient__planet--landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"]) .system-map__planet {
  filter: url(#svg-filter__planet-shadow) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"])[data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"])[data-system-object-landable="true"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="Water giant"] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="Water world"] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="Ammonia world"] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="Earth-like world"] .system-map__planet-surface {
  fill: url(#svg-pattern__planet-surface--clouds);
  filter: contrast(1) brightness(2) !important;
}

.system-map__system-object[data-system-object-type="Star"] .system-map__planet {
  filter: url(#svg-filter__star-glow--light);
}

.system-map__system-object[data-system-object-type="Star"]:focus .system-map__planet {
  stroke-width: 225 !important;
}

.system-map__system-object[data-system-object-type="Star"] .system-map__planet-surface {
  fill: white;
  filter: grayscale(100%) contrast(0.2) brightness(1.5) drop-shadow(0 0 15rem white);
  opacity: 1;
  stroke: none;
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Supermassive Black Hole" i] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Black Hole" i] .system-map__planet-surface {
  fill: black !important;
  filter: drop-shadow(0 0 15rem white) !important;
  stroke-width: 100;
  stroke: white !important;
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type*="White Dwarf" i] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Neutron Star" i] .system-map__planet-surface {
  filter: grayscale(100%) contrast(0.1) brightness(2) drop-shadow(0 0 7rem rgb(118, 173, 245)) drop-shadow(0 0 5rem rgb(53, 114, 255));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="O "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="B "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="A "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="TT "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="TTS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="W "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WC "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WN "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WO "] .system-map__planet-surface {
  filter: grayscale(100%) contrast(0.2) brightness(1.8) drop-shadow(0 0 5rem rgb(222, 247, 255)) drop-shadow(0 0 10rem white) drop-shadow(0 0 10rem rgb(108, 196, 255));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="G "] .system-map__planet-surface {
  filter: contrast(0.2) sepia(100%) hue-rotate(350deg) saturate(2) brightness(1.1) contrast(2) drop-shadow(0 0 5rem rgb(255, 236, 129)) drop-shadow(0 0 10rem rgb(255, 236, 129)) drop-shadow(0 0 10rem rgb(255, 166, 0));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="F "] .system-map__planet-surface {
  filter: contrast(0.2) sepia(100%) hue-rotate(350deg) saturate(1) brightness(1.3) contrast(1.5) drop-shadow(0 0 5rem rgb(255, 244, 181)) drop-shadow(0 0 10rem rgb(255, 242, 168)) drop-shadow(0 0 10rem rgb(255, 220, 154));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Ae "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Be "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="K "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="C "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CH "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CHd "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CJ "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CN "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="MS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WNC "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="S "] .system-map__planet-surface {
  filter: contrast(0.25) sepia(100%) hue-rotate(330deg) saturate(4) brightness(1.15) contrast(2) drop-shadow(0 0 5rem rgb(255, 236, 129)) drop-shadow(0 0 10rem rgb(255, 194, 81)) drop-shadow(0 0 10rem rgb(255, 187, 61));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="M "] .system-map__planet-surface {
  filter: contrast(0.25) sepia(100%) hue-rotate(360deg) saturate(4) brightness(.9) contrast(1.5)  drop-shadow(0 0 5rem #ff8c00) drop-shadow(0 0 10rem #ff8c00) drop-shadow(0 0 10rem #ff8c00);
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="L "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Y "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="T "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type*="Brown dwarf" i] .system-map__planet-surface {
  filter: contrast(0.2) sepia(100%) hue-rotate(300deg) saturate(1.4) brightness(.4)  contrast(2) drop-shadow(0 0 15rem rgb(200,20,20));
}

.system-map__system-object:focus .system-map__planet-surface {
  fill: url(#svg-pattern__planet-surface-animated);
}

.system-map__planet-surface {
  z-index: 1;
  pointer-events: none;
  opacity: 0.1;
  fill: url(#svg-pattern__planet-surface);
}

.system-map__planet-atmosphere {
  fill: url(#system-map-svg-gradient__planet--atmosphere);
  stroke: var(--color-system-map-planet-atmosphere);
  stroke-width: 50;
  filter: blur(5rem);
  opacity: .75;
}

.system-map__planet-ring {
  display: block;
  fill: transparent;
  stroke: rgba(160, 255, 246, 0.2) !important;
  stroke-width: 7rem;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  fill: url(#system-map-svg-gradient__planet-ring);
  pointer-events: none;
  filter: none !important;
}

.system-map__planet-ring-mask {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  stroke-width: 0 !important;
}

.system-map__planetary-facility-icon,
.system-map__planetary-port-icon,
.system-map__planetary-lander-icon {
  pointer-events: none;
  overflow: visible;
  z-index: 5;
  display: block;
  fill: var(--color-info);
  filter: drop-shadow(0 0 5rem var(--color-secondary)) drop-shadow(0 0 10rem var(--color-secondary)) drop-shadow(0 0 10rem var(--color-secondary-dark)) !important;
 }

 .system-map__system-object:focus .system-map__planetary-facility-icon,
 .system-map__system-object:focus .system-map__planetary-port-icon,
 .system-map__system-object:focus .system-map__planetary-lander-icon {
  filter: drop-shadow(0 0 5rem var(--color-primary)) drop-shadow(0 0 10rem var(--color-primary)) !important;
 }

 .system-map__system-object .system-map__station {
  stroke: var(--color-secondary);
  fill: var(--color-secondary-dark);
  stroke-width: 100;
  transition: all .1s ease;
  outline: none;
}

.system-map__system-object:focus .system-map__station {
  fill: var(--color-primary-dark);
  stroke: var(--color-system-map-focus);
}

.system-map__station-icon {
  fill: var(--color-info);
  pointer-events: none;
  filter: drop-shadow(0 0 5rem var(--color-secondary)) !important;
}

.system-map__system-object:focus .system-map__station-icon {
  filter: drop-shadow(0 0 5rem var(--color-primary)) !important;
}

/*
 * Apply gradients to SVG planets 
 */
#system-map-svg-gradient__planet stop:nth-child(1) {
  stop-color: var(--color-primary);
  stop-color: #005c81;
}
#system-map-svg-gradient__planet stop:nth-child(2) {
  stop-color: var(--color-primary-dark);
  stop-color:  #551b00;
}

#system-map-svg-gradient__planet--landable stop:nth-child(1) {
  stop-color: #00b3f7;
}
#system-map-svg-gradient__planet--landable stop:nth-child(2) {
  stop-color:  #8f3c15;
}

#system-map-svg-gradient__planet-ring stop:nth-child(1) {
  stop-color: rgba(160, 160, 160, 0.05);
}
#system-map-svg-gradient__planet-ring stop:nth-child(2) {
  stop-color: rgba(160, 160, 160, 0.1);
}


#system-map-svg-gradient__planet--atmosphere stop:nth-child(1) {
  stop-color: rgb(113, 203, 255);
}

#system-map-svg-gradient__planet--atmosphere stop:nth-child(2) {
  stop-color: rgb(0, 140, 255);
}

#system-map-svg-gradient__planet--atmosphere stop:nth-child(3) {
  stop-color: rgb(0, 135, 177);
}

.system-map__planet-ring {
  display: block;
  fill: transparent;
  stroke: rgba(160, 255, 246, 0.2);
  stroke-width: 5rem;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  fill: url(#system-map-svg-gradient__planet-ring);
  pointer-events: none;
}
#system-map-svg-gradient__planet-ring stop:nth-child(1) {
  stop-color: rgba(160, 160, 160, 0.1);
}
#system-map-svg-gradient__planet-ring stop:nth-child(2) {
  stop-color: rgba(160, 160, 160, 0.2);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Class I gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Class II gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Class III gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Class IV gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Class V gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Helium-rich gas giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Helium gas giant"] 
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Gas giant with water-based life"] {
  fill: url(#system-map-svg-gradient__planet--gas-giant);
}
#system-map-svg-gradient__planet--gas-giant stop:nth-child(1) {
  stop-color: rgb(132, 134, 111);
}
#system-map-svg-gradient__planet--gas-giant stop:nth-child(2) {
  stop-color: rgb(117, 70, 7);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Ammonia world"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Gas giant with ammonia-based life"] {
  fill: url(#system-map-svg-gradient__planet--gas-giant-ammonia);
}
#system-map-svg-gradient__planet--gas-giant-ammonia stop:nth-child(1) {
  stop-color: rgb(107, 139, 87);
}
#system-map-svg-gradient__planet--gas-giant-ammonia stop:nth-child(2) {
  stop-color: rgb(4, 99, 47);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Rocky body"] {
  fill: url(#system-map-svg-gradient__planet--rocky);
}
#system-map-svg-gradient__planet--rocky stop:nth-child(1) {
  stop-color: rgb(124, 94, 81);
}
#system-map-svg-gradient__planet--rocky stop:nth-child(2) {
  stop-color: rgb(97, 57, 41);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Rocky Ice world"] {
  fill: url(#system-map-svg-gradient__planet--rocky-icy);
}
#system-map-svg-gradient__planet--rocky-icy stop:nth-child(1) {
  stop-color: rgb(106, 142, 155);
}
#system-map-svg-gradient__planet--rocky-icy stop:nth-child(2) {
  stop-color: rgb(90, 69, 37);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Icy body"] {
  fill: url(#system-map-svg-gradient__planet--icy);
}
#system-map-svg-gradient__planet--icy stop:nth-child(1) {
  stop-color: rgb(153, 206, 226);
}
#system-map-svg-gradient__planet--icy stop:nth-child(2) {
  stop-color: rgb(61, 88, 110);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Metal-rich body"]{
  fill: url(#system-map-svg-gradient__planet--metal-rich);
}
#system-map-svg-gradient__planet--metal-rich stop:nth-child(1) {
  stop-color: rgb(102, 102, 102);
}
#system-map-svg-gradient__planet--metal-rich stop:nth-child(2) {
  stop-color: rgb(97, 84, 79);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="High metal content world"] {
  fill: url(#system-map-svg-gradient__planet--high-metal);
}
#system-map-svg-gradient__planet--high-metal stop:nth-child(1) {
  stop-color: rgb(133, 19, 19);
}
#system-map-svg-gradient__planet--high-metal stop:nth-child(2) {
  stop-color: rgb(85, 28, 5);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Water giant"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Water world"],
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type="Earth-like world"] {
  fill: url(#system-map-svg-gradient__planet--earth-like);
}
#system-map-svg-gradient__planet--earth-like stop:nth-child(1) {
  stop-color: rgb(27, 116, 250);
}
#system-map-svg-gradient__planet--earth-like stop:nth-child(2) {
  stop-color: rgb(7, 82, 72);
}

.system-body-information__container {
  position: absolute;
  /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */
  /* clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0); */
}

.system-body-information__container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249 115 22 / 0.6);
  border-bottom: 1px solid transparent;
}

.system-body-information__container:after {
  position: absolute;
  top: 0%;
  left: -23px;
  content: '';
  width: 0;
  height: 0;
  border-right: solid 23px rgb(249 115 22 / 0.6);
  border-bottom: solid 23px transparent;
  border-top: solid 23px transparent;
}

/* .system-body-information__container:before {
  position: absolute;
  background: linear-gradient(45deg,red,blue);
  --g1:#000 var(--b),#0000 0 calc(100% - var(--b)),#000 0;
  --g2:#0000   calc(0.707*var(--s)), 
       #000  0 calc(0.707*var(--s) + var(--b)),
       #0000 0 calc(100% - 0.707*var(--s) - var(--b)),
       #000  0 calc(100% - 0.707*var(--s)),
       #0000 0;
  -webkit-mask:
    linear-gradient(45deg ,var(--g2)),
    linear-gradient(-45deg,var(--g2)),
    linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s)) no-repeat,
    linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s)) 100% no-repeat;
} */

.w-main-star {
  width: 140px !important;
}

.text-label__small {
  font-size: 0.65rem;
}